@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Typography */
h1 {
    font-weight: 600;
    line-height: 4.31rem;
    color: #222549;
    font-family: 'Libre Franklin', sans-serif;
}

h2 {
    font-weight: 700;
    line-height: 3.37rem;
    color: #222549;
    font-family: 'Libre Franklin', sans-serif;
}

h3 {
    font-weight: 600;
    line-height: 2.75rem;
    color: #222549;
    font-family: 'Libre Franklin', sans-serif;
}

h4 {
    font-weight: 600;
    line-height: 2rem;
    color: #222549;
    font-family: 'Libre Franklin', sans-serif;
}

.body-1 {
    font-weight: 400;
    line-height: 1.5rem;
    color: #222549;
    font-family: 'Libre Franklin', sans-serif;
}

.body-2 {
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 14px;
    color: #222549;
    font-family: 'Libre Franklin', sans-serif;
}

.button-big {
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: #222549;
    font-family: 'Libre Franklin', sans-serif;
}

.button-small {
    font-weight: 700;
    line-height: 1rem;
    font-size: 14px;
    letter-spacing: 1px;
    color: #222549;
    font-family: 'Libre Franklin', sans-serif;
}

.caption {
    font-weight: 500;
    line-height: 1rem;
    font-size: 12px;
    color: #222549;
    font-family: 'Libre Franklin', sans-serif;
}
/* Typography End */


/* Color */
:root {
    --primary-color: #353A8D;
    --accent-color: #40DD9C;
    --neutral-color: #36385A;
    --p100: #E2E3E9;
    --p0: #9C9DB2;
    --p01: rgba(156,157,178,0.3);
    --p1: #60627D;
    --p2: #4B4D6C;
    --p3: #36385A;
    --p4: #222549;
    --emp-sec-color:  #353A8C;
    --teal-100: #D8EFF0;
    --teal-900: #45888E;
    --primary-900: #10246A;
    --succes-100: #EBF4E7;
    --succes-500: #6AA64F;
    --succes-900: #3C7425;
    --warning-100: #FBF4E0;
    --warning-500: #BD8E00;
    --warning-900: #8F6B00;
    --error-100: #F9E2E2;
    --error-500: #DE6664;
    --error-900: #B33A38;
}
/* Color End */


/* Elevation */
.shadow-f1 {
    box-shadow: 0px 2px 4px rgba(8, 68, 73, 0.24), 0px 4px 16px rgba(8, 68, 73, 0.35);
}

.shadow-f2 {
    box-shadow: 0px 8px 24px rgba(8, 68, 73, 0.35);
}
/* Elevation End */


/* Buttons */
.btn-large {
    border-radius: 4px; 
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}

.btn-normal {
    border-radius: 4px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}

.btn-small {
    border-radius: 4px;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
}

/* Emphasis */
.button-accent {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.button-primary {
    background: var(--primary-color); 
    color: white;    
}

.button-secondary {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-900);
}

.button-tertiary {
    background-color: white;
    color: var(--primary-color);
}
/* Emphasis End */


/* States */
.button-accent:hover {
    background-color: #53E0A6;
    color: var(--emp-sec-color);
}

.button-accent:focus {
    background-color: #53E0A6;
    color: var(--emp-sec-color);
    border: 3px solid #70A6F7;
}

.button-accent:active {
    background-color: #23C78B;
    color: var(--primary-900);
}

.button-secondary:hover {
    background-color: #4C53B1;
    color: white;
}

.button-secondary:focus {
    background-color: #4C53B1;
    color: white;
    border: 3px solid #70A6F7;
}

.button-secondary:active {
    background-color: #10246A;
    color: white;
}

.button-tertiary:hover {
    background-color: #F3F4F8;
    color: #4C53B1;
}

.button-tertiary:focus {
    background-color: #F3F4F8;
    color: #4C53B1;
    border: 3px solid #70A6F7;
}

.button-tertiary:active {
    background-color: #CFD3E1;
    color: var(--primary-color);
}
/* States End */

.button-disabled {
    background-color: #E2E3E9;
}
/* Buttons End */

/* Page Layout */

.container {
    max-width: 1040px;
    margin: 0 auto;
}

/* Navigation Bar */

.container-fluid {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width:  1040px;
    height: 70px;
    padding: 1rem 0rem;
    margin: 0rem 1rem 1rem 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item a {
    margin: 5px;
}

.nav-icon {
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-radius: 50px;
    padding: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.nav-icon i {
    margin-left: 10px;
}

.nav-item .button-small {
    display: none;
}

/* Products */

.top-bar {
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.top-bar span {
    color: var(--primary-color);
}

.path-link {
    color: var(--primary-color);
    margin-right: 1rem;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.product-box {
    background: #FFFFFF;
    border: 1px solid #E1E1EA;
    max-width: 340px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0rem 1rem 1rem 1rem;
}

.product-box button {
    display: none;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 50px;
    position: relative;
    left: 70%;
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: translateX(-20px);
}

.product-box:hover {
    box-shadow: 0px 8px 24px rgba(8, 68, 73, 0.35);
}

.product-image {
    background: url(https://place-puppy.com/340x220) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.product-text {
    padding-bottom: 1rem;
}

.product-title {
    color: var(--primary-color);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-weight: 600;
}

.product-description {
    color: var(--p1);
    padding: 0rem 0.5rem 0.5rem 1rem;
}

/* Description */

.description {
    margin-bottom: 3rem;
}

.description-image {
    background: url(https://place-puppy.com/340x220) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 159px;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.description-text h4 {
    padding: 0rem 1rem 1rem 1rem;
    font-size: 21px;
    color: var(--p3);
}

.description-text p {
    padding: 0rem 1rem 1rem 1rem;
    color: var(--p3);
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 1rem 1rem 0.5rem 1rem;
    border-top: 1px solid #9C9DB2;
    background-color: #F8F8F9;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.list-first-item {
    color: var(--primary-900);
    font-weight: 600;
}

.footer-list li {
    margin-bottom: 0.5rem;
    color: var(--p1);
}

.contact {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.contact-text {
    color:var(--p1);
}

.icons {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

.copyright {
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.copyright p {
    color: var(--p1);
}



@media screen and (min-width: 730px) {

    /* Navbar */

    .mobile-bars {
        display: none;
    }

    .navbar .nav-item .button-small {
        display: block;
    }

    /* Products */

    .products {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 6.5rem;
    }

    .product-box button {
        display: block;
        overflow: hidden;
    }

    .products a {
        flex-basis: calc(100% / 3 - 0.5rem);
        flex-grow: 1;
    }

    /* Button Animation */

    .product-box:hover button {
        transform: translateX(0);
        opacity: 1;
    }

    /* Description */

    .description {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding: 0rem 1rem;
    }

    .description-image {
        min-width: 420px;
        height: 327px;
    }

    /* footer */

    .footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        border-top: none;
        padding: 1rem;
    }

    .footer-list ul {
        margin-right: 3.5rem;
    }

    .icons {
        justify-content: flex-start;  
    }

    .icons a {
        margin-right: 3rem;
    }
}